.container {
    display: flex;  
    flex: auto;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 15px;
    position: relative;
    margin: auto;
    height: 960px;
    width: 960px;
    }

.square {
    box-sizing: border-box;
    outline: solid white 1px;
    background-color: #572d8f;
}

.button {
    color: black;
    font-weight: 900;
    padding: 10px;
    border-radius: 20%;
}