.container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 15px;
    position: relative;
    margin: auto;
    height: 850px;
    width: 850px;
    }

.square {
    box-sizing: border-box;
    border: solid white 1px;
    height: 6.25%;
    width: 6.25%;
    background-color: #572d8f;
}